<form action="<%= @post.persisted? ? post_url(@post) : posts_url %>" method="post">
  <%= csrf_html %>

  <% if @post.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="post_title">Title</label>
  <input type="text" name="post[title]" value="<%= @post.title %>">
  <br>

  <label for="post_url">URL</label>
  <input type="text" name="post[url]" value="<%= @post.url %>">
  <br>

  <label for="post_content">Content</label>
  <textarea name="post[content]"
  rows="8"
  cols="40"><%= @post.content %></textarea>
  <br>

  <%= render "shared/select", collection: Sub.all, class_name: "post",
    collection_name: "sub_id", parent_class: @post %>

  <input type="submit">
</form>
