<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @post.subs.map(&:title).join(', ') %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author.email %>
</p>

<a href="<%= new_post_comment_url(@post) %>">New comment</a>

<ol>
  <% @post.comments.each do |comment| %>
    <li>
      <%= "#{comment.author.email} says: #{comment.content}" %>
    </li>
  <% end %>
</ol>
