<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @post.subs.map(&:title).join(', ') %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author.email %>
</p>

<a href="<%= new_post_comment_url(@post) %>">New comment</a>

<% @all_comments = @post.comments %>
<% @parent_comments = @all_comments.select do |comment| %>
  <% comment.parent_comment_id.nil? %>
<% end %>
<ol>
  <% @parent_comments.each do |comment| %>
    <li>
     <%= render 'comments/comment',
     comment: comment,
     all_comments: @all_comments %>
    </li>
  <% end %>
</ol>
